In [1]:
"Hola mundo"

'Hola mundo'

In [2]:
import pandas as pd 
pd.__version__

'1.4.1'

In [4]:
dict_data = {'CO':300,'MX':400,'CH':500}
dict_data
dict_data2 = {'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}
dict_data2
df=pd.DataFrame(dict_data2)
df

    CH   CO   MX
0  100  100  300
1  800  200  500
2  200  300  400